<h1 class="text-light">Shopping Cart</h1>
<div class="row text-light col-md-12" *ngIf="cart$ | async as cart">
  <div class="row col-md-12">
    <div class="col-md-8" >
      <p>You have {{ cart.totalItemsCount }} items in your Shopping cart.</p>
    </div>
    <div class="col-md-4">
      <button *ngIf="cart.items.length" (click)="clearCart()" class="pull-right btn btn-light btn-sm">Clear Shopping Cart</button>
    </div>
  </div>

  <table class="table table-light text-dark">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail" alt=""></div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">

          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD':symbol }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'USD':symbol }}</th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check Out</a>

</div>