<div class="row">
  <div class="col-md-8">
    <div *ngIf="addImages">
      <file-upload [productID]="id" [product]="product" ></file-upload>
    </div>
    <form *ngIf="!addImages" #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group text-light">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required</div>
      </div>
      <div class="form-group text-light">
        <label for="price">Price</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required"> Price is required </div>
          <div *ngIf="price.errors.min"> Price should be 0 or higher </div>
        </div>
      </div>
      <div class="form-group text-light">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
          <option *ngFor="let c of categories$ | async" [value]="c.key">
            {{c.name }}
          </option>
          <option value=""></option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is required.</div>
      </div>

      <div class="lastDiv">
        <button *ngIf="!addImages" class="btn btn-primary">Add images</button>
        <button *ngIf="addImages" type="button" (click)="addImage()" class="btn btn-primary">Save</button>
        <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
      </div>
    </form>
    <button *ngIf="addImages" type="button" (click)="addImage()" class="btn btn-primary">Save</button>
    <button *ngIf="addImages" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
  </div>
  <div class="col-md-4">
    <product-card [product]="product" [show-actions]="false"></product-card>
  </div>
</div>